<h1>Carga de archivos</h1>

<hr>
<br>
<div class="row">
    <div class="form-actions">
        <div class="d-grid gap-2 mt-3">
            <a href="/consultas/new" class="btn btn-success">Nueva</a>
        </div>
    </div>
</div>