  <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center" style="background-color:#06aeef; color:white;">

   <div class="d-flex align-items-center justify-content-between" >
    <a href="/" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block" style="color:white;">Evaluación práctica DAS GLOBAL S.A.</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" style="color:white;"></i>
    
</div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->